<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Doctor</title>
</head>
<body>
<div layout:fragment="admin_content">
    <h2>Create User</h2>
    <form th:action="@{/admin/doctors/create}" method="post" th:object="${doctor}">
        <!-- Email -->
        <label for="email">Електронна пошта:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required/>
        <br/>

        <!-- Password -->
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required/>
        <br/>

        <!-- First Name -->
        <label for="firstName">Ім'я:</label>
        <input type="text" id="firstName" name="firstName" th:field="*{firstname}" required/>
        <br/>

        <!-- Last Name -->
        <label for="lastName">Прізвище:</label>
        <input type="text" id="lastName" name="lastName" th:field="*{lastname}" required/>
        <br/>

        <button type="submit">Створити користувача</button>
    </form>
</div>
</body>
</html>