<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Призначення</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<div layout:fragment="doctor_content">
    <div class="container">
        <h3 style="padding-top: 20px">Нове призначення</h3>
        &nbsp;
        <form class="row gx-3 gy-3 align-items-center" th:action="@{/doctor/appointment/save}" method="post"
              th:object="${newAppointment}">
            <div class="row">
                <div class="col-4 ">
                    <label for="first_name">First Name: </label>
                    <input type="text" id="first_name" class="form-control" placeholder="Ім'я" aria-label="First name"
                           th:field="*{firstName}" >
                </div>
                <div class="col-4">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" class="form-control" placeholder="Прізвище" aria-label="Last name"
                           th:field="*{lastName}" />
                </div>
                <div class="col-4">
                    <label for="date_of_birth">Date of Birth:</label>
                    <input type="date" id="date_of_birth" class="form-control" placeholder="Дата народження"
                           aria-label="Date of birth" th:field="*{birthDate}" />
                </div>
            </div>
            <h5>Список призначених препаратів</h5>
            <ul>
                <li th:each="drug : ${temporaryDrugs}">
                    <p th:text="${drug.name}"></p>
                    <label>Кількість: <input type="number" th:field="*{drugQuantities[__${drug.id}__]}" min="1"
                                            value="1"/></label>
                    <a th:href="@{/doctor/appointment/removeDrug(drugId=${drug.id})}" class="remove-icon">X</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-auto" style="padding-bottom: 20px; padding-top: 20px; width: 100%">
                    <button type="submit" class="btn btn-primary">Призначити</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
