<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список хвороб</title>
</head>
<body>
<div layout:fragment="doctor_content">
<div>
    <h2>Список хвороб</h2>

    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Назва хвороби</th>
            <!-- Додайте інші необхідні стовпці для відображення інформації про хворобу -->
        </tr>
        </thead>
        <tbody>
        <!-- Використання Thymeleaf для ітерації по списку хвороб та виведення їх даних -->
        <tr th:each="disease : ${diseases_list}">
            <td th:text="${disease.id}"></td>
            <td th:text="${disease.name}"></td>
            <!-- Додайте інші необхідні стовпці для відображення інформації про хворобу -->
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>