<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хвороби на букву</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<div layout:fragment="doctor_content">
    <h3 style="padding-top: 10px">Хвороби що починаються з <span th:text="${#strings.toUpperCase(letter)}"></span></h3>
    <ul>
        <li th:each="disease : ${diseases}">
            <a class="mid-box" th:href="@{/doctor/diseases/{id}(id=${disease.getId()})}"
               th:text="${disease.getName()}"></a>
        </li>
    </ul>
</div>
</body>
</html>