<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список ліків</title>
    <link href="/css/list.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="doctor_content">
    <div>
        <div class="container">
            <h2 class="center">Ліки</h2>
            <form th:action="@{/doctor/drugs/search}" method="get">
                <label for="search">Пошук по лікам:</label>
                <input type="text" id="search" name="name" placeholder="Введіть назву ліків">
                <button type="submit">Шукати</button>
            </form>
            <ul>
                <li th:each="letter : ${alphabet}">
                    <a class="letter" th:href="@{/doctor/drugs/letter/{letter}(letter=${letter})}"
                       th:text="${letter}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>