<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список хвороб</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<div layout:fragment="doctor_content">
    <div class="container">
        <img class="disease-image" src="path/to/your/image.jpg" alt="Disease Image">
        <div class="disease-details">
            <h2 th:text="${drug.getName()}"></h2>
            <p th:text="${drug.getDescription()}"></p>
            <p th:text="${drug.getAnalogs()}"></p>
            <p th:text="${drug.getArticle()}"></p>
            <p th:text="${drug.getDrugGroup()}"></p>
            <div class="symptoms">
                <h3>Лікі:</h3>
                <ul>
                    <li th:each="disease : ${drug.getDiseases()}">
                        <a th:href="@{/doctor/diseases/{id}(id = ${disease.getId()})}" th:text="${disease.getName()}"></a>
                    </li>
                    <li th:each="dose : ${drug.getDoses()}">
                        <div>
                            <span th:text="${dose.value + ' ' + dose.getUnit()}"></span>
                            <form th:action="@{/doctor/drugs/{id}/add(id=${drug.getId()})}" method="post">
                                <button type="submit" th:href="@{/doctor/drugs/{id}(id=${drug.getId()})}">ПРИЗНАЧИТИ</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>