<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Деталі препарата</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<div layout:fragment="doctor_content">
    <div class="container text-center " style="padding-top: 10px">
        <h3 th:text="${drug.name}"></h3>
        <p th:text="${drug.description}"></p>
        <p th:text="${drug.article}"></p>
        <p th:text="${drug.drugGroup}"></p>
        <p th:text="${drug.doseValue +' '+ drug.doseUnit}"></p>
        <div>
            <h5>Хвороби: </h5>
            <ul>
                <li th:each="disease : ${drug.getDiseases()}">
                    <a class="sml-box" th:href="@{/doctor/diseases/{id}(id = ${disease.getId()})}"
                       th:text="${disease.getName()}"></a>
                </li>
            </ul>
            <h5>Аналоги: </h5>
            <ul>
                <li th:each="analog : ${drug.getAnalogs()}">
                    <a class="sml-box" th:href="@{/doctor/drugs/{id}(id = ${analog.getId()})}"
                       th:text="${analog.getName()}"></a>
                </li>
            </ul>
            <form th:action="@{/doctor/drugs/{id}/add(id=${drug.id})}" method="post">
                <button type="submit" class="btn btn-primary">Додати до призначення</button>
            </form>

            <div th:if="${drug.quantity > 10}" class="availability available">В наявності</div>
            <div th:if="${drug.quantity <= 10 and drug.quantity > 0 }" class="availability limited">Закінчується</div>
            <div th:if="${drug.quantity == 0}" class="availability out-of-stock">Відсутні</div>
        </div>
    </div>
</div>
</body>
</html>