<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link href="/css/doctor.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="doctor_content">
    <div class="clinic-card">
        <h2>Заголовок клініки</h2>
        <p>Опис клініки...</p>
    </div>

    <div class="carousel">
        <img src="image1.jpg" alt="Image 1">
        <img src="image2.jpg" alt="Image 2">
        <img src="image3.jpg" alt="Image 3">
    </div>

    <div class="clinic-card">
        <img src="clinic-image.jpg" alt="Clinic Image" style="float: left; margin-right: 20px;">
        <p>Опис клініки...</p>
    </div>
</div>
</body>
</html>