<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список симптомів</title>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
<div layout:fragment="doctor_content">
    <h2>Симптоми типу: <span th:text="${#strings.toUpperCase(type)}"></span></h2>
    <ul>
        <li th:each="symptom : ${symptoms}">
            <a class="mid-box" th:href="@{/doctor/symptoms/{id}(id=${symptom.getId()})}" th:text="${symptom.getName()}"></a>
        </li>
    </ul>

</div>
</body>
</html>