<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div layout:fragment="main_content">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card-login">
                <div class="card-header">
                    <h3>Registration</h3>
                </div>
                <div class="card-body">
                    <form method="POST" th:object="${authForm}" th:action="@{/registration}">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" th:field="*{email}" class="form-control" placeholder="Email"
                                   autofocus="true">
                            <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
                            <span class="has-error" th:if="${#fields.hasErrors('password')}"
                                  th:errors="*{password}"></span>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Have an account?<a href="/login">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>